{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=ERP_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=ERP_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Shoes",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=ERP_Shoes_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Products",
                    "Identifier": "Product",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Products Above Average Price",
                    "Identifier": "ProductsAboveAveragePrice",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductSize",
                    "Identifier": "ProductSize",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.SizeGroup",
                    "Identifier": "SizeGroup",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchasesReturns",
                    "Identifier": "PurchasesReturns",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchaseOrders",
                    "Identifier": "PurchaseOrder",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Suppliers",
                    "Identifier": "Supplier",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Brands",
                    "Identifier": "Brand",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Categories",
                    "Identifier": "Category",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Depots",
                    "Identifier": "Depot",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Seasons",
                    "Identifier": "Season",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Units",
                    "Identifier": "Unit",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Shippers",
                    "Identifier": "Shipper",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Materials",
                    "Identifier": "Material",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Styles",
                    "Identifier": "Style",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ColorGroup",
                    "Identifier": "ColorGroup",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductColor",
                    "Identifier": "ProductColor",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Customers",
                    "Identifier": "Customer",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchaseReturnsDetails",
                    "Identifier": "PurchaseReturnsDetails",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchaseOrderDetails",
                    "Identifier": "PurchaseOrderDetail",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductLang",
                    "Identifier": "ProductLang",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.CategoryLang",
                    "Identifier": "CategoryLang",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.CustomerDetails",
                    "Identifier": "CustomerDetails",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Employees",
                    "Identifier": "Employee",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Order Details",
                    "Identifier": "OrderDetail",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Orders",
                    "Identifier": "Order",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Notes",
                    "Identifier": "Note",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductProductColor",
                    "Identifier": "ProductProductColor",
                    "Module": "Basic",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.ProductProductSize",
                    "Identifier": "ProductProductSize",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.DepotStock",
                    "Identifier": "DepotStock",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.InventoryCount",
                    "Identifier": "InventoryCount",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.InventoryCountDetails",
                    "Identifier": "InventoryCountDetail",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Invoices",
                    "Identifier": "Invoices",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.Order Subtotals",
                    "Identifier": "OrderSubtotals",
                    "Module": "Inventory",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchaseList",
                    "Identifier": "PurchaseList",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.PurchaseDetails",
                    "Identifier": "PurchaseDetail",
                    "Module": "Purchase",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.RetailOrderDetails",
                    "Identifier": "RetailOrderDetails",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RetailOrders",
                    "Identifier": "RetailOrders",
                    "Module": "Sale",
                    "ConnectionKey": "Shoes",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\ERP\\ERP.Web\\ERP.Web.csproj",
    "RootNamespace": "ERP",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": false,
    "GenerateColumn": false,
    "GenerateForm": false,
    "GenerateEndpoint": false,
    "GenerateRepository": false,
    "GeneratePage": false,
    "GenerateGrid": false,
    "GenerateDialog": false,
    "GenerateGridEditor": true,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": true,
    "MaximizableDialog": false
}