
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Purchase.PurchaseDetail.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.Purchase.PurchaseDetailGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>