
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Basic.ColorGroup.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.Basic.ColorGroupGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>