
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sale.RetailOrderDetails.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.Sale.RetailOrderDetailsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>