
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Sale.RetailOrders.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.Sale.RetailOrdersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>