@{
    ViewData["Title"] = "Inline Image in Grid";
}

@section Head {
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}

<div id="GridDiv"></div>

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ERP.Basic.InlineImageInGrid($('#GridDiv'));
        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>